html, body, #root, .app-outer{
  @extend %fhw;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  display: block;
  cursor: text;
  color: $lgn-pl;
}

::selection {
  background: $cl-high;
}
::-moz-selection {
  background: $cl-high;
}
::-webkit-selection {
  background: $cl-high;
}

.btn-accent{
  color: $w;
  font-family: $sp-r;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: inset -1px 1px 0 0 rgba($w, 0);
  border: 1px solid rgba($b, .05);
  background-color: $btn-pr;
  &:hover{
    background-color: darken($btn-pr, 10%);
  }
}

.btn-sec{
  background-color: $btn-sc;
  &:hover{
    background-color: darken($btn-sc, 10%);
  }
}

.btn-anchor{
  background-color: $w;
  color: $lgn-pl;
  box-shadow: none;
  border: none;
  &:hover{
    background-color: $w;    
  }
}