.manager-outer{
  @extend %fhw;  
  height: auto;
	min-height: 100%;
  background: $bg-main;
  font-family: $sp-r;
	.navbar{
	  // z-index: 1;
	  box-shadow: 0 10px 20px 0 rgba($b, .1);
	  background: $bg-pr;
	  height: 60px;
	  padding: 0;
	  .navbar-brand{
	    border-right: 1px solid rgba($w, .2);
	    padding-left: 7px;
	    padding-right: 7px;
	    img{ @include hw(48, 48); }
	  }
	  .navbar-nav{
	    padding-right: 10px;
	    .dropdown-menu{
	    	left: -135px;
	    }
	    .nav-item{
	    	color: $w;
	    	font-size: 15px;
	    	&.dropdown{
	    		border-left: 1px solid rgba($w, .2);
	    	}
	    }
	    img.avatar{ @include hw(36, 36); }
	  }
	}
	.content{
		position: relative;
		min-height: calc(100vh - 60px);
		.notif-outer{
			@extend %fhw;
			@extend %j-c;
			height: calc(100vh - 60px);
			background: $w;
			position: relative;
			z-index: 1;
			.notif-inner{
				text-align: center;
				width: 368px;
				.title{
				  font-size: 36px;
				  line-height: 1.22;
				  letter-spacing: 0.4px;
				  text-align: center;
				  color: $cl-pr;
				  margin-top: 20px;
				}				
				.btn-accent{
				  @include hw(48, 100);
				  margin-top: 25px;
				  margin-bottom: 30px;				  
				}
				.btn-anchor{
					display: block;
					margin: 0 auto;			  
				}
				.txt-rem{
					font-size: 19px;
					color: $lgn-pl;
				}
			}
		}
		.content-outer{
			@extend %fhw;
			padding-top: 70px;
			.ctn-text{
				width: 100%;
				padding: 20px;
				margin-bottom: 45px;
				background: $w;
				border-radius: 2px;
			 	box-shadow: 0 0 24px 0 rgba($b, .1);
				border: 1px solid $ctn-text-bdr;
				&.ctn-source{
					@extend %j-f-s;
					position: relative;
					color: $w;
					// font-family: $sp-r;
					padding-left: 24px;
					padding-right: 24px;
					height: 60px;
					img{ @include hw(24, 24); }
					&>div, .react-autosuggest__container{
					  position: relative;
					  width: 100%;
					  height: 100%;
					}
					&>div{
						margin-left: 24px;
					}
					.react-autosuggest__suggestions-container--open{
					  position: relative;
					  max-height: 300px;
					  overflow-y: scroll;
					  overflow-x: hidden;
					  width: 400px;     
					  background: $bg-pop;
					  z-index: 1;
					  // left: -20px;
					  // border-top: 1px solid rgba($ctn-auto-bdr, .2);
					  &::-webkit-scrollbar {
					    width: 10px;
					  }      
					  &::-webkit-scrollbar-thumb {
					    border-radius: 5px;         
					    background: rgba($w, .2);         
					  }
					  .react-autosuggest__suggestions-list{
					    padding: 20px;
					    padding-top: 10px;
					    margin-bottom: 0;
					    li.react-autosuggest__suggestion{
					      cursor: pointer;
					      display: block;
					      margin: 15px 0;
					      div{
					        justify-content: flex-start;
					      }
					      span{
					        white-space: nowrap;
					      }
					      .highlight{
					        color: $w;
					        margin: 0;
					      }
					      &.react-autosuggest__suggestion--first{
					        margin-top: 10px;
					      }
					    }
					  }
					}
					.auto-inp{
				  	text-overflow: ellipsis;
				  	position: relative;				  	
				  	top: -7px;
				  	font-size: 19px;
				  	// font-family: $sp-r;
				  	width: 100%;
				  	border: none;
				  	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  	  color: $lgn-pl;
				  	}
				  	&::-moz-placeholder { /* Firefox 19+ */
				  	  color: $lgn-pl;
				  	}
				  	&:-ms-input-placeholder { /* IE 10+ */
				  	  color: $lgn-pl;
				  	}
				  	&:-moz-placeholder { /* Firefox 18- */
				  	  color: $lgn-pl;
				  	}
				  	&:focus{
				  	  outline: none;
				  	}
					}
					&.error{
						border: 1px solid $cl-err;
					}					
					// No suggestion for sources popover
					div.ctn-no-sugg{  
					  background: $bg-pop;
					  position: absolute;
					  width: 400px;
					  // height: 50px;
					  top: 50px;
					  left: 50px;
					  padding: 15px;
					  a{
					  	font-size: 17px;
					  }
					}
				}
				&.ctn-text-main{
					position: relative;
					padding: 70px;
					// font-family: $sp-r;
					.plh{ @include pa(24, 24); }					
					.ctn-text-content{
						font-size: 19px;					  
					  line-height: 1.47;	
					  color: $cl-ctn-text;
					  &:focus{
					  	outline: none;
					  }
					  span.mark{
					  	white-space: pre;
					  	background: none;
					  	display: inline-block;
					  	vertical-align: baseline;
					  	cursor: pointer;
					  	padding: 0;
					  	color: $cl-sel;  	
					  }
					  span.highlight{
					  	background: $cl-high;
					  }
					}						
				}
			}
		}
		.ctn-buttons{
			@include pa("", 0, 0, "");
			width: 100%;
			text-align: right;
			padding: 16px;
			.btn-accent{
			  @include hw(48, 97);
			  margin-top: 25px;		
			  &.btn-sec{
				  @include hw(48, 168);
				  margin-right: 10px;			  	
			  }
			}
		}
		.txt-err{
			@include pa(0, 0);
			@extend %j-s-b;
			color: $w;
			height: 60px;
			width: 100%;
			padding: 0 25px;
			font-size: 17px;
			background: $bg-err;
			img{
			  cursor: pointer;
			  height: 30px;
			  &:nth-of-type(1){ visibility: hidden; }
			}
		}
	}
}