.ctn-pop {
  position: relative;
  background: $bg-pop;
  color: $w;
  font-family: $sp-r;  
  &:after{    
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba($b, 0);
    border-width: 10px;
    margin-left: -10px;
  }
  &.arrow-bottom:after{
    top: 100%;
    border-top-color: $bg-pop;
  }
  &.arrow-top:after{    
    bottom: 100%;
    border-bottom-color: $bg-pop;
  } 
  .ctn-btn-empty{
    padding: 10px;
    img{
      cursor: pointer;
      &:nth-of-type(1){
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba($w, .2);
      }
    }
  }
  .ctn-tag{
    width: 400px;
    min-height: 50px;   
    &>div, .react-autosuggest__container{
      position: relative;
      width: 100%;
      height: 100%;
    }
    .react-autosuggest__container{
      padding-left: 20px;
    }
    .react-autosuggest__suggestions-container--open{
      // width: auto;
      // height: unset;
      // top: 50px;
      position: relative;
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 400px;     
      left: -20px;
      background: $bg-pop;
      border-top: 1px solid rgba($ctn-auto-bdr, .2);
      &::-webkit-scrollbar {
        width: 10px;
      }      
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;         
        background: rgba($w, .2);         
      }
      .react-autosuggest__suggestions-list{
        padding: 20px;
        padding-top: 0;
        li.react-autosuggest__suggestion{
          cursor: pointer;
          display: block;
          margin: 15px 0;
          div{
            justify-content: flex-start;
          }
          span{
            white-space: nowrap;
          }
          .highlight{
            color: $w;
            margin: 0;
          }
          &.react-autosuggest__suggestion--first{
            margin-top: 10px;
          }
        }
      }
    }
    .auto-inp{
      font-family: $sp-r;
      font-size: 17px;
      height: 50px;
      width: 90%;
      padding: 0;
      border: none;
      background: transparent;
      color: $w;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $w;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $w;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $w;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $w;
      }
      &:focus{
        outline: none;
      }
    }
    img.close{
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
  }
  .ctn-ptq{
    padding: 6px;
    position: relative;
    .ctn-tags-chosen{
      width: 90%;
      min-height: 50px;
      ul.tag-ctn{
        // padding: 5px;
        font-size: 15px;
        padding-left: 0;
        border-radius: 2px;
        margin-bottom: 0;
        li{
          cursor: default;
          display: inline-block;
          vertical-align: top;    
          padding: 3px 6px;
          background: $bg-tag;
          color: $b;
          border-radius: 5px;
          margin-right: 5px;
          margin-bottom: 5px;  
          height: 38px;
          div{
            @extend %j-s-b;
            height: 100%;
          }
          img.tag-img{
            height: 32px;
          }
          img.del-tag{
            cursor: pointer;            
            margin-left: 10px;
            height: 7px;
            width: 7px;
          }
          span.tag-name{
            margin-left: 10px;
          }
          &.last{
            padding-top: 5px;
            background: none;
            img{
              cursor: pointer;
              height: 24px;
            }
          }
        }
      }
    }
    img.close{
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
    .ctn-ptq-opt{
      padding: 20px;
      border-top: 1px solid rgba($ctn-auto-bdr, .2);
      .slider-outer{
        position: relative;
        width: 100%;
        font-family: $sp-r;  
        .slider-rail{
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 5px;
          background-color: $sl-bg;
          cursor: pointer;    
        }
        .slider-handle{
          position: absolute;
          margin-left: -10px;
          margin-top: -8px;
          width: 20px;
          height: 20px;
          border: none;
          text-align: center;
          cursor: grab;
          border-radius: 50%;
          background-color: $bg-pr;
          z-index: 1;
        }
        .slider-track{
          position: absolute;
          height: 4px;
          z-index: 0;
          cursor: pointer;    
          background-color: $bg-pr;
        }
      }
      .sl-title{ // For both slider and tags title
        @extend %j-s-b;
        width: 100%;
        font-size: 15px;
        color: $w;
        margin-bottom: 25px;
      }
    }
    .btn-accent{      
      height: 50px;
      width: 100%;
      margin-top: 25px;
    }
  }
}
